# App settings
LOGS_FOLDER_PATH='logs'
APP_NAME='amrap-wod-generator'
IMGS_FOLDER='img'

# Twitter settings
TWITTER_CONSUMER_KEY=''
TWITTER_CONSUMER_SECRET=''
TWITTER_ACCESS_TOKEN=''
TWITTER_ACCESS_TOKEN_SECRET=''

# GCP settings
PROJECT_NAME = ''
BUCKET_NAME = ''
BACKUP_CLIENT_ID = ''
BACKUP_CLIENT_EMAIL = ''
BACKUP_PRIVATE_KEY_ID = ''
BACKUP_PRIVATE_KEY = ''